.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/**/
.bg
{
	border: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	top: 0px;
	left: 0px;
	position: fixed;
	background-repeat: repeat;
 	background-size: cover;
 	background-position: center;
	background-color: rgb( 255, 255, 255 );
}

/* #bodyHome
{
	background-image: url('img/home.PNG');
} */

.divLogo
{
	position: absolute;
	width: 15%;
    height: 15%;
    left: 10%;
    top: 1%;
}

.logo
{
	/* color: rgb(255, 165, 0); */
    /* font-family: Hamurz; */
	color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
}

.divSearch
{
	position: absolute;
	left: 30%;
	width: 60%;
	height: 12%;
	top: 4%;
}

.divBody
{
	width: 80%;
    height: 80%;
	top: 20%;
	left: 10%;
	position: absolute;
}

.divAnswr
{
	display: inline-block;
    width: 10%;
    height: 16%;
    margin: 1%;
}

.imgAnswr
{
	width: 100%;
	height: 90%;
	display: inline-block;
	/* object-fit: over; */
}

.pAnswr
{
	width: 100%;
	height: 10%;
	display: inline-block;
	text-align: center;
	color: black;
}

#pQstn
{
	color: black;
	width: 70%;
	text-align: center;
	height: 5%;
	font-family: 'Jeju Gothic', sans-serif;
}

/* Head.js */
.divTopMenu
{
	position: absolute;
	width: 10%;
	height: 25%;
	left: 1%;
	top: 4%;
	margin: 0;
}

.liMenu .ulDropMenu
{
	height: 70%;
	margin: 0;
	padding: 0;
}

.ulDropMenu ul
{
	height: 40%;
	margin: 0;
	padding: 0;
}

.liMenu
{
	background: orange;
	line-height: 100%;
	height: 100%;
	font-size: 12pt;
	/* display: block;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none; */
}

.ulDropMenu
{
	display: none;
	background: white;
	/* height: auto;
	border: 0;
	position: absolute;
	width: 100px;
	z-index: 100; */
}

.ulDropMenu li
{
	background: red;
}